body {
    font-family: "Arial";

}

.header {
    text-align: left;
    color: rgb(36, 35, 35);
    float: right;
    font-size: 13px;  
    text-decoration: none;
}

.header a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-left: 200px;
    padding-bottom: 30px;
    
}

.center > div {
    text-align: center;
}

td {
    padding: 0 7px;
    
}

button {
    margin-left: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0,.054);
    color: #5f6368;
    border: none;
    padding: 10px 13px;
    margin-top: 15px;
}


buttons {
    float: center;
    
}

searchbox {
    margin-top: 6px;
    border-radius: 30px;
    border-collapse: separate;
    -moz-border-radius: 1em;
    box-shadow: none;
   

}

input.rounded {
	border: 1px solid #dfe1e5;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 24px;
	font-size: 24px;
	padding: 4px 15px;
	outline: 0;
    -webkit-appearance: none;
    height: 30px;

}
input.rounded:hover {
    border-color: #a5a5a5;
    border-width: 1px;
}

.offered {
    font-size: 12px;
}

ul {
    list-style-type: none;
    margin-left: -10px;
    margin-right: 0px;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 5px;

    overflow: hidden;
    background-color: rgba(0, 0, 0,.054);
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
     
  }
  
  li {
    float: left;
    margin-left: 30px;
    text-align: left;
    padding-bottom: 7px;
    padding-top: 7px;
    color: "black";
    display: inline;
  }

li a{
    text-decoration: none;
    color: #5f6368;
}

footer {
    bottom: 0;
    height: 55px;
    position: fixed;
    width: 100%;
    margin-right: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    margin-left: -10px;
    
}

.settings {
    padding-right: 40px;
}
